[SddmGreeterTheme]
Name=Breeze-Hyperspace2
Description=Breeze-Hyperspace2 Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Hyperspace2
Theme-API=2.0
