[SddmGreeterTheme]
Name=Breeze-blips-blue
Description=Breeze-blips-blue Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-blips-blue
Theme-API=2.0
