[SddmGreeterTheme]
Name=Breeze-livingcity3
Description=Living City 3 Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-livingcity3
Theme-API=2.0
