[SddmGreeterTheme]
Name=Breeze-Gamma-explosion
Description=Breeze-Gamma-explosion Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Gamma-explosion
Theme-API=2.0
