[SddmGreeterTheme]
Name=Breeze-Blue-chan
Description=Breeze Blue Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Blue
Theme-API=2.0
