[SddmGreeterTheme]
Name=Breeze-Esmeralda-chan
Description=Breeze Esmeralda-chan Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Esmeralda-chan
Theme-API=2.0
