[SddmGreeterTheme]
Name=Breeze-Maki-chan
Description=Breeze Maki-chan Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Maki-chan
Theme-API=2.0
