[SddmGreeterTheme]
Name=Breeze-ghostfuture
Description=Breeze Ghost of the Future Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-ghostfuture
Theme-API=2.0
