[SddmGreeterTheme]
Name=Breeze-blips-green
Description=Breeze-blips-green Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-blips-green
Theme-API=2.0
