[SddmGreeterTheme]
Name=Breeze-4symbols
Description=Breeze-4symbols Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-4symbols
Theme-API=2.0
