[SddmGreeterTheme]
Name=Breeze-Bioluminescence
Description=Breeze Bioluminescence Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Bioluminescence
Theme-API=2.0
