[SddmGreeterTheme]
Name=Breeze-Red-chan
Description=Breeze Red-chan Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Red-chan
Theme-API=2.0
