[SddmGreeterTheme]
Name=Breeze-Littleneko-chan
Description=Breeze Littleneko Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Littleneko
Theme-API=2.0
