[SddmGreeterTheme]
Name=Breeze-Hanna-chan
Description=Breeze Hanna-chan Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Hanna-chan
Theme-API=2.0
