[SddmGreeterTheme]
Name=Breeze-ghostpresent
Description=Breeze Ghost of the Present Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-ghostpresent
Theme-API=2.0
