[SddmGreeterTheme]
Name=Breeze-Slanted-lines
Description=Breeze-Slanted-lines Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Slanted
Theme-API=2.0
