[SddmGreeterTheme]
Name=Breeze-Michi-tan
Description=Breeze Michi-tan Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Michi-tan
Theme-API=2.0
