[SddmGreeterTheme]
Name=Breeze-Laugh-chan
Description=Breeze Laugh Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Laugh
Theme-API=2.0
