[SddmGreeterTheme]
Name=Breeze-Big-eyes
Description=Breeze Big-eyes Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Big-eyes
Theme-API=2.0
