[SddmGreeterTheme]
Name=Breeze-Beams-light
Description=Breeze-Beams-light Theme
License=GPLv3
Type=sddm-theme
Version=1.0
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=breeze-Beams-light
Theme-API=2.0
